body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.d-none {
    display: none !important;
}

.navMain {
    background-color: #F4CE14;
    height: 120px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.noteContent {
    background-color: #FFF99F;
    width: 250px;
    min-height: 250px;
    height: fit-content;
    margin: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 19px 14px 19px 5px rgba(0, 0, 0, 0.73);


}

.noteText {
    overflow-wrap: anywhere;
    max-width: 220px;
    margin: 8px;
    white-space: pre;
}

.trashText {
    overflow-wrap: anywhere;
    max-width: 220px;
    margin: 8px;
    white-space: pre;
}

.mainContainer {
    display: flex;
    min-height: calc(1051px - 122px);

}

.legend {
    background-color: #F4CE14;
    width: 160px;
    border-right-style: solid;
    border-right-width: 2px;
    margin-right: 24;
    flex-direction: column;
    overflow: auto;
    display: flex;
    height: calc(100vh - 122px);

}

.content {
    /* background-color: green; */
    background-image: url(./img/paper.jpeg);
    background-size: 100% 100%;
    background-repeat: repeat;
    height: calc(100vh - 122px);
    /* margin-top: 122px ; */
    flex: 1;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    /* height: 100vh; */
    overflow: auto;

}

.newNoteButton {
    margin-top: 48px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    background-color: #3e8e41;
    border-radius: 8px;
    box-shadow: 0 9px #999;
    color: aliceblue;
    padding: 24px;
    font-size: 18px;
    font-weight: bold;
}

.newNoteButton:hover {
    background-color: #38af3c;
    color: white;
    /* background-color: #3e8e41; */
}

.newNoteButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.allDelete {

    margin-top: 48px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    background-color: #b90808;
    border-radius: 8px;
    box-shadow: 0 9px #999;
    color: aliceblue;
    padding: 24px;
    font-size: 18px;
    font-weight: bold;


}

.allDelete:hover {
    background-color: #f80303;
    color: white;
}

.allDelete:active {
    background-color: #b90808;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.newNoteBg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trashBg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    display: flex;
    justify-content: space-around;

}

.newNoteText {
    display: flex;
    flex-direction: column;
    height: 550px;
    text-align: center;
    width: 450px;
    background-color: rgb(238, 233, 233);
    border: 1px solid lightgray;
    border-radius: 8px;
}

.newNoteTextButtons {
    display: flex;
    margin-top: auto;
    justify-content: center;
    margin-bottom: 16px;
}

.inputNote {
    resize: none;
    margin-left: 16px;
    margin-right: 16px;
    height: 80%;
    font-size: 24px;
}

.createButton {
    margin-top: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: #3e8e41;
    border-radius: 8px;
    box-shadow: 0 9px #999;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
}

.createButton:hover {
    background-color: #38af3c;
    color: white;
    /* background-color: #3e8e41; */
}

.createButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.deleteButton {
    margin-top: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: #b90808;
    border-radius: 8px;
    box-shadow: 0 9px #999;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
}

.deleteButton:hover {
    background-color: #f80303;
    color: white;
    /* background-color: #3e8e41; */
}

.deleteButton:active {
    background-color: #b90808;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.NoteDeleteButton {
    margin-top: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: #b90808;
    border-radius: 8px;
    box-shadow: 0 9px #999;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: auto;


}

.NoteDeleteButton:hover {
    background-color: #f80303;
    color: white;
}

.NoteDeleteButton:active {
    background-color: #b90808;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
.recoverButton{
    padding: 8px;
    cursor: pointer;
    background-color: #3e8e41;
    border-radius: 8px;
    box-shadow: 0 9px #999;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: auto;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.trashDeleteButton {
    padding: 8px;
    cursor: pointer;
    background-color: #b90808;
    border-radius: 8px;
    box-shadow: 0 9px #999;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    /* margin-top: auto; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.wastebasketImg {
    width: 48px;
    height: 48px;
    margin: 128px auto 8px;

}

.deletetNotes {
    display: flex;
    flex-wrap: wrap;
}

.trashContainer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 116px);
    width: calc(100Vw - 160px);
    margin-top: 130px;
    margin-left: 162px;
    background-color: #FAF5E9;
    border-radius: 8px;
}

.trashContainerChild {
    display: flex;
    justify-content: center;



}

.trashContent {
    background-color: #FFF99F;
    display: flex;
    min-height: 250px;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    margin: 24px;
    text-align: center;
    box-shadow: 19px 14px 19px 5px rgba(0, 0, 0, 0.73);

}



.wastebasketImg:active {

    transform: translateY(2px);
}

.trashP {
    margin: 0px auto;
    font-weight: bold;
    justify-content: end;
    display: flex;

}

.trashBackOption {
    display: flex;
    align-items: center;
    justify-items: end;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 9px #999;
    padding: 8px;
}

.trashBackOption:hover {
    color: #f80303;
}

.trashBackOption:active {
    color: #f80303;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.trashHeadline {
    display: flex;
    margin-right: 48px;
}

@media screen and (max-width: 780px) {
    .legend {
        display: none;
    }

    .navMain {
        font-size: 24px;
        align-items: center;
        justify-content: space-evenly;
    }

    .newNoteButton {
        margin-top: 0;
        padding: 8px;
        font-size: 12px;
    }

    .allDelete {
        margin-top: 0;
        padding: 8px;
        font-size: 12px;
    }

    .newNoteText {
        height: 350px;
        width: 250px;
        font-size: 12px;
    }

    .inputNote {
        font-size: 12px;
    }

    .createButton {
        font-size: 12px;
    }

    .deleteButton {
        font-size: 12px;
    }

    .noteContent {
        margin: 12px auto;

    }

    .NoteDeleteButton {
        font-size: 12px;
    }

    .wastebasketImg {
        margin: 0;
    }

    .trashContainer {
        width: 100%;
        margin-left: 0;
    }

    .trashHeadline {
        font-size: 24px;
    }

    .trashBackOption {
        font-size: 18px;
    }
}

@media screen and (min-width: 780px) {
    .btuttonDisplayNone {
        display: none;
        margin: 0px;
    }

}